In [18]:
import pandas
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import warnings
warnings.filterwarnings('ignore')

In [2]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\sayan\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\sayan\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\sayan\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sayan\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\sayan\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\sayan\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [14]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [22]:
df1= pd.read_csv(r"C:\Users\sayan\OneDrive\Desktop\fliprobo projects\Fake News Project\Fake.csv",index_col=False)
df1

,title,text,subject,date,label,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23499,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2=pd.read_csv(r"C:\Users\sayan\OneDrive\Desktop\fliprobo projects\Fake News Project\True.csv")
df2

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [24]:
df1.columns

Index(['title', 'text', 'subject', 'date', 'label', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165',
       'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169',
       'Unnamed: 170', 'Unnamed: 171'],
      dtype='object', length=172)

In [25]:
df1=df1.iloc[:,0:5]

In [26]:
df1

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23499,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [27]:
#after concating index recalculation
df=pd.concat([df1,df2],ignore_index=True)

In [28]:
df

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44914,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44915,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44916,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44917,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44918,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [29]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [30]:
df.tail()

,title,text,subject,date,label
44914,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44915,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44916,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44917,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44918,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [31]:
df.dtypes

title      object
text       object
subject    object
date       object
label       int64
dtype: object

In [32]:
df.isnull().sum()

title       0
text        0
subject    21
date       21
label       0
dtype: int64

In [33]:
df_new=df.dropna()

In [34]:
df_new

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44914,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44915,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44916,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44917,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44918,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [35]:
df_new.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [36]:
df_new.drop(['subject','date'],axis=1,inplace=True)

In [37]:
df_new

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0
...,...,...,...
44914,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,1
44915,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",1
44916,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,1
44917,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,1
44918,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,1

In [38]:
df_new['content']=df['title']+' '+df_new['text']

In [39]:
df_new.drop(['title','text'],inplace=True,axis=1)

In [40]:
df_new

       label                                            content
0          0   Donald Trump Sends Out Embarrassing New Year’...
1          0   Drunk Bragging Trump Staffer Started Russian ...
2          0   Sheriff David Clarke Becomes An Internet Joke...
3          0   Trump Is So Obsessed He Even Has Obama’s Name...
4          0   Pope Francis Just Called Out Donald Trump Dur...
...      ...                                                ...
44914      1  'Fully committed' NATO backs new U.S. approach...
44915      1  LexisNexis withdrew two products from Chinese ...
44916      1  Minsk cultural hub becomes haven from authorit...
44917      1  Vatican upbeat on possibility of Pope Francis ...
44918      1  Indonesia to buy $1.14 billion worth of Russia...

[44898 rows x 2 columns]

In [41]:
x=df_new.drop(['label'],axis=1)

In [42]:
x

                                                 content
0       Donald Trump Sends Out Embarrassing New Year’...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obama’s Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
44914  'Fully committed' NATO backs new U.S. approach...
44915  LexisNexis withdrew two products from Chinese ...
44916  Minsk cultural hub becomes haven from authorit...
44917  Vatican upbeat on possibility of Pope Francis ...
44918  Indonesia to buy $1.14 billion worth of Russia...

[44898 rows x 1 columns]

In [43]:
y=df_new.iloc[:,0]
y

0        0
1        0
2        0
3        0
4        0
        ..
44914    1
44915    1
44916    1
44917    1
44918    1
Name: label, Length: 44898, dtype: int64

In [79]:
import nltk
nltk.download('stopwords')

In [45]:
port_stem=PorterStemmer()

In [52]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-z]',' ',content)##will remove all the data other than alphabates like (,''@numeric)###
    stemmed_content = stemmed_content.lower() ##converting all letters to lowercase for making machine to understand easily#
    stemmed_content = stemmed_content.split()
    #stemmed_content = [port_stem(word) for word in  stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [53]:
 df_new['content']=df_new['content'].apply(stemming)

In [54]:
print(df_new['content'])

0        donald trump sends out embarrassing new year s...
1        drunk bragging trump staffer started russian c...
2        sheriff david clarke becomes an internet joke ...
3        trump is so obsessed he even has obama s name ...
4        pope francis just called out donald trump duri...
                               ...
44914    fully committed nato backs new u s approach on...
44915    lexisnexis withdrew two products from chinese ...
44916    minsk cultural hub becomes haven from authorit...
44917    vatican upbeat on possibility of pope francis ...
44918    indonesia to buy billion worth of russian jets...
Name: content, Length: 44898, dtype: object

In [57]:
x=df_new['content']
x

0        donald trump sends out embarrassing new year s...
1        drunk bragging trump staffer started russian c...
2        sheriff david clarke becomes an internet joke ...
3        trump is so obsessed he even has obama s name ...
4        pope francis just called out donald trump duri...
                               ...
44914    fully committed nato backs new u s approach on...
44915    lexisnexis withdrew two products from chinese ...
44916    minsk cultural hub becomes haven from authorit...
44917    vatican upbeat on possibility of pope francis ...
44918    indonesia to buy billion worth of russian jets...
Name: content, Length: 44898, dtype: object

In [59]:
y=df_new['label']
y

0        0
1        0
2        0
3        0
4        0
        ..
44914    1
44915    1
44916    1
44917    1
44918    1
Name: label, Length: 44898, dtype: int64

In [61]:

feature_extraction= TfidfVectorizer (min_df=1,stop_words='english',lowercase="True")
x1=feature_extraction.fit_transform(x)

In [63]:
print (x1)

  (0, 46624)	0.025459736966380327
  (0, 38285)	0.026317602375825786
  (0, 13613)	0.059289041788539484
  (0, 3907)	0.038380604610107706
  (0, 76450)	0.0330446848814648
  (0, 72020)	0.04444166995694904
  (0, 63361)	0.028503610886069026
  (0, 112661)	0.030380660680567884
  (0, 78434)	0.024552962159172916
  (0, 39645)	0.025034929412060786
  (0, 16319)	0.05073970372388397
  (0, 101185)	0.03606860187158593
  (0, 44414)	0.04622161279115805
  (0, 109264)	0.03131867889652258
  (0, 82000)	0.08518674784713462
  (0, 54627)	0.03278077617123461
  (0, 72014)	0.04794600419181335
  (0, 36666)	0.052017721341189455
  (0, 110784)	0.08518674784713462
  (0, 110777)	0.05863900531069495
  (0, 100367)	0.028230318680669792
  (0, 100043)	0.05075072402200979
  (0, 4559)	0.03947016652816481
  (0, 100759)	0.08518674784713462
  (0, 89598)	0.08205214580682822
  :	:
  (44897, 10031)	0.09111048614499338
  (44897, 50726)	0.21912682897327068
  (44897, 64375)	0.07369217836535195
  (44897, 29323)	0.0549918456723437
  (44897, 109934)	0.04230647375464944
  (44897, 22429)	0.04757807594494752
  (44897, 19391)	0.04683049597241412
  (44897, 75100)	0.04427128191962806
  (44897, 21116)	0.04078884449274048
  (44897, 13988)	0.05610667626270558
  (44897, 96075)	0.05282523505407615
  (44897, 35583)	0.04363971508333314
  (44897, 25180)	0.04859391208517221
  (44897, 68551)	0.0707951907281793
  (44897, 24373)	0.0608179615794492
  (44897, 32180)	0.054178515993420835
  (44897, 104090)	0.07986939526191106
  (44897, 88120)	0.04864412404242146
  (44897, 18734)	0.08135023209996639
  (44897, 87598)	0.11892271360920832
  (44897, 87608)	0.08458811779435348
  (44897, 113859)	0.029836898616216002
  (44897, 47243)	0.04754482090776853
  (44897, 21118)	0.02922183068568959
  (44897, 68913)	0.024976883697015635

In [71]:
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split

In [72]:
x1_train,x1_test,y_train,y_test=train_test_split(x1,y,test_size=.30,stratify=y,random_state=2)

In [73]:
rf=RandomForestClassifier(n_estimators=100,random_state=50)
lg=LogisticRegression()
model=[rf,lg]
for m in model:
    m.fit(x1_train,y_train)
    predm=m.predict(x1_test)
    print('accuracy_score of',m ,'is:')
    print(accuracy_score(y_test,predm))
    print(confusion_matrix(y_test,predm))
    print(classification_report(y_test,predm))

accuracy_score of RandomForestClassifier(random_state=50) is:
0.9921306607275426
[[6990   55]
 [  51 6374]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7045
           1       0.99      0.99      0.99      6425

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

accuracy_score of LogisticRegression() is:
0.9861172976985895
[[6956   89]
 [  98 6327]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7045
           1       0.99      0.98      0.99      6425

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [77]:
import joblib

In [78]:
joblib.dump(rf,'fake news_detection.obj')

['fake news_detection.obj']